body {
    background-color: rgb(236, 222, 28);
    font-family: Arial;
    margin: 20px;
}

#section1 {
    background-color: black;
    padding: 10px;
    color: white;
    text-align: center;
}

#section2 {
    background-color: darkgrey;
    border: 1px solid black;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

#section3 {
    background-color: lightgrey;
    padding: 40px;
}

#section4 {
    background-color: black;
    padding: 25px;
    margin-top: 30px;
    text-align: center;
}

#nav {
    color: black;
}

a {
    text-decoration: none;
    color: white;
    font-size: 26px;
}

p {
    padding: 50px;
}

h2 {
    text-align: center;
    font-size: 28px;
}

ul li {
    display: inline-block;
    margin: 0 30px;
}